*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding:50px;
    align-content: space-evenly;
    gap:30px;
}
.list1 {
    display: flex;
    flex-direction: row ;
    gap:20px;
    width: 100%;
}

.box {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: rgba(20, 30, 18, 0.08) 0px 20px 15px ;
    width: 60%;
    padding-bottom: 20px;
    text-align: center;
    background-color: white;
    transition: all 0.3s linear;
}
.box:hover{
    transform: scale(1.08) rotate(1deg);
}
.box img{
    width: 100%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin-bottom: 20px;

}
.box1{
    box-shadow: rgba(20, 30, 18, 0.08) 0px 20px 15px ;
    border:1px solid #ccc;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    background-color: white;
    transition: all 0.3s linear;
}
.box1:hover{
    transform: scale(1.08) rotate(1deg);
}
.box1 img{
    width: 100%;
    height: 72%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding-bottom: 20px;

}
.list2 {
    display: flex;
    gap: 20px;
    flex-direction: row;
}
