*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;;
}
.header{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 40px;
    align-items: center;
    position: relative;
}
.header::after{
    content: "×";
    font-size: 20px;
    color: white;
    padding: 10px 17px;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 50%;
    position: absolute;
    left:50%;
    top:90px;
}
.logo{
    color:white;
    font-size: 32px;
    font-weight: 700;
}
.list_link{
    display: flex;
    gap: 40px;
}
.link{
    color:white;
    text-decoration:none ;
    font-weight: 400;
}
.main{
    background-color: #F8F5F0;
    width: 100%;
    height: auto;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
h2{
    padding-top: 40px;
}
.content h3{
    margin-top: 20px;
    text-transform: capitalize;
}
.status{
    width: 780px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 8px 30px 0px #00000026;
    border-radius:10px;
    background-color: #FFFFFF;
}
.status img{
    width: 740px;
    height: 300px;
    object-fit: cover;
    margin-top: 20px;
}
.add{
    color:#f3b006
}
.add::after{
    content:" →";
    color: #f3b006;
    font-weight: 900;
}
.other{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
}
.blog{
    width: 1000px;
    height: 80px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 8px 30px 0px #00000026;
    padding-left: 15px;
}
.footer{
    width: 100%;
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #FFFFFF;
}