*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "roboto" ,sans-serif ;
}
body{
    background-color: #F8F5F0;
}
.banner{
    width: 100%;
    height: 600px;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    opacity: 0.7;
}
.content{
    position: absolute;
    top:calc(50%-46px);
    left:calc(50%-377.565px);
    text-align: center;
}
.content h2{
    font-size: 60px;
    font-weight: 700;
    color:#ffffff;
    padding-bottom: 20px;
}
.content{
    font-size: 22.7px;
    font-weight: 400;
    color:#ffffff;
}
.gallery{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F8F5F0;
}
.list_blog{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.blog{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px 0px #00000033;
    object-fit: cover;
    opacity: 0.75;
}
.box{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 133px;
    position: absolute;
    top: 167px;
    
}
.place_img{
    width: 300px;
    height: 300px;
    position: relative;
    background-color: black;
    border-radius: 15px;
}
.place_img h3{
    text-transform: capitalize;
    font-size: 27.9px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 40px;
}
.place_img p{
    font-size: 17.2;
    font-weight: 400;
    color:#ffffff;
    padding-bottom: 31px;
}
.place_img1 {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: black;
    border-radius: 15px;
}
.place_img1 h3{
    font-size: 27.7px;
    font-weight:700;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 40px;
}
.place_img1 p{
    font-size: 16.9px;
    font-weight: 400;
    color:#ffffff;
    padding-bottom: 31px;
}
.place_img2 {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: black;
    border-radius: 15px;
}
.place_img2 h3{
    font-size: 27.7px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 40px;
}
.place_img2 p{
    font-size: 17px;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 31px;
}
.place_img3 {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: black;
    border-radius: 15px;
}
.place_img3 h3{
    font-size: 27.3px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 40px;
}
.place_img3 p{
    font-size: 16.9px;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 31px;
}
.place_img4 {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: black;
    border-radius: 15px;
}
.place_img4 h3{
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 40px;
}
.place_img4 p{
    font-size: 17px;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 31px;
}
.place_img5 {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: black;
    border-radius: 15px;
}
.place_img5 h3{
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 40px;
}
.place_img5 p{
    font-size:16.9px;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 31px;
}
.place_img6 {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: black;
    border-radius: 15px;
}
.place_img6 h3{
    font-size: 27.1px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 40px;
}
.place_img6 p{
    font-size: 16.9px;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 31px;
}
.book {
    width: 100%;
    height: 481.89px;
    background-color: #8B0000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
}
.book h2{
    font-size: 47.6px;
    font-weight: 700;
    padding-top: 81px;
    text-transform: capitalize;
    color:#FFFFFF
}
.book p{
    font-size: 15.1px;
    font-weight: 400;
    color: #FFFFFF;
}
.choice {
    max-width: 1000px;
    width: 100%;
    height: 125.89px;
    padding:0 30px 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.choice input{
    width: 300px;
    height: 51px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 15px;

}
 .button{
    width:301.94px;
    height: 53px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #8B0000;
    padding:15px 49.8px 16px 50px;

}
.footer {
    width: 100%;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dddddd;
    font-size: 15.1px;
    font-weight: 400;
    background-color: #1E1E1E;
}
