*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display" ;
}
.header {
    width: 100%;
    height: 104.39px;
    background-color: #1e1e1e;
    display:flex ;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 32px;
    font-weight: 700;
    color: #D4AF37;
    line-height: 54.4px;
    margin: 0 20.83%;
}
.list_link {
    display: flex;
    gap:30px;
    margin:0 20.83%;
}
.link {
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    color: #cccccc;
    text-decoration: none;
}
.blog {
    width: 100%;
    height: 600px;
    background-image: url(./ss8/bda3e7d064464cd7f2c9fc4b4ee5de38890ed225.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    overflow: hidden;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.blog h2{
    font-size: 56px;
    font-weight: 700;
    line-height: 95.2px;
    color:#ffffff;
    text-transform: capitalize;
}
.blog p{
    text-align: center;
    font-size:20px;
    font-weight: 400;
    font-family: "poppins";
    color: #ffffff;
}
.blog nav{
    background-color: #D4AF37;
    padding:17px 40px; 
    border-radius: 50px;
    margin-top: 43px;
    margin-bottom: 158.11px;
}
.blog nav:hover{
    transform: scale(1.05);
}
.blog a{
    color:#ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 30.6px;
    font-size: "poppins";
    text-decoration: none;
}

.food_hight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.food_hight h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 81.6px;
    text-transform: capitalize;
    margin-top: 128px;
    margin-bottom: 89.59px;
    
}
.ut{
    width: 100px;
    height: 4px;
    background-color: #D4AF37;
    position: absolute;
    bottom:21.59px;
    top:212.59px;
    left: 960px;
    bottom: 535px;
    right: 860px ;
}
.list_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.img{
    transition: all 0.3s linear;
}
.img:hover{
    transform: scale(1.05);
}
.us {
    width: 100%;
    height: 453.38px;
    display: flex;
    background-color: #1e1e1e;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.us h2{
    font-size: 48px;
    font-weight:700;
    line-height: 81.6px;
    color: #D4AF37;
}
.us p{
    font-size: 18px;
    font-weight:400;
    line-height: 30.6px;
    color: #dddddd;
    text-align: center;

}
.footer {
    background-color: #111111;
    width: 100%;
    height: 85.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888888;
    font-size: 15px;
    font-weight: 400;
    line-height: 25.5;
}
